
{% extends 'header.html' %}

{% load static %}

{% block content %}
<header class="jumbotron" style="display:flex;justify-content:space-around;height:450px">
        <div style="margin-top:90px;" class="container-fluid"><h5>Wholphinplus Team <br>Contact Us any time </h5><p>
            </p><a href="Tel: +2349048178433" class="alert alert-primary"
                                                     style="font-size:10px">Call for action!</a></div>

        <div class="" style="background-image:url({% static 'image/images - 2021-04-05T135044.058.jpeg' %});
        background-repeat:no-repeat;width:100rem; height:100%">

      </div>
    </header>




<div class="container">
    <center><div class="row mb-5">
          <div class="col-md-6 col-lg-6">
            <div class="ftco-footer-widget mb-5">
            	<div class="block-23 mb-3">
<img class="col-md-12 col-lg-12" style="width:300px;height:300px" src="{% static 'image/images - 2021-04-06T154933.981.jpeg' %}">
	            </div>
            </div>
          </div>


              <div class="col-md-6 col-lg-6">
            <div class="ftco-footer-widget mb-5">
            	<div class="block-23 mb-3">
 <h6 style="padding-left:30px;padding-top:40px;font-size:20px;font-family:san serif">Do you need assistance with our services,
   course enrolment, job opening and more enquiries about Wholphinplus?<p></p>
        <p>Our AI Assistance will get the help that you need. </p></h6>
                            <center><a href="" class="btn btn-success" style="color:white"> Get started</a></center>

	            </div>
            </div>
          </div>
        </div>
        </center>
</div>

{% endblock %}
