<!--{% load static %}-->

<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Apply form</title>-->
<!--    <link rel="stylesheet" href="{% static 'path/to/font-awesome/css/font-awesome.min.css' %}">-->
<!--    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
<!--</head>-->
<!--<body>-->

<!--{% block content %}-->
<!--<div class="container" style="sans-serif;">-->
<!--    <div class="jumbotron">-->
<!--   <center> <div>-->
<!--       <h1>WHOLPHINPLUS VENTURE</h1>-->
<!--    <h4>THE FUTURE IS NOW</h4>-->
<!--   <h5>Phone: +2349046933458, +2349048178433</h5>-->
<!--    <h5>Email: wholphinplus@gmail.com</h5>-->
<!--    <h5>Website: wholphinplus.com</h5>-->
<!--    </div>-->
<!--       <br>-->
<!--    <div><h4 style="color:white;background-color:black;width:30%">ADMISSIONION FORM</h4></div>-->
<!--       <p><i><b>Please write your name in full and in capital letters starting with surname</b></i></p>-->
<!--        </center>-->
<!--    <div>-->

<!--          <div style="color:white;background-color:black;width:100%">1. <center><h5 style="margin-top:-25px">PERSONAL DATA</h5></center></div>-->



<!--        <div style="color:white;background-color:black;width:100%">1. <center><h5 style="margin-top:-25px">PAYMENT METHOD</h5></center></div>-->
<!--<input type="radio" name="gender"> Full Payment <br>-->
<!--        <input type="radio" name="gender"> By Installment -&#45;&#45;-->
<!--                      (first instalment: 70%  second instalment: The remaining 30% be paid after the at the beginning of the second month of the training)</input>-->



<!--         <div style="color:white;background-color:black;width:100%">2. <center><h5 style="margin-top:-25px">FOR UNDERGRADUATE ONLY</h5></center></div>-->





<!--         <div style="color:white;background-color:black;width:100%">3. <center><h5 style="margin-top:-25px">COURSES OFFERED</h5></center></div>-->
<!--{{apply.course_title|upper|linebreaks}}-->
<!--{{apply.amount}}<br>-->
<!--{{apply.duration}} months-->
<!--         <div style="color:white;background-color:black;width:100%">4. <center><h5 style="margin-top:-25px">COURSES DURATION</h5></center></div>-->
<!--    </div>-->
<!--</div>-->
<!--    </div>-->
<!--{% endblock %}-->
<!--</body>-->
<!--</html>-->


