<!--{% extends 'header.html' %}-->
<!--{% load static %}-->
<!--{% block content %}-->
<!--<div style="" class="container">-->
<!--    <center><img src="{% static 'image/a26c4b485716a585073da2af4328a8cd.jpg' %}" class="img-circle" height="50%" width="90%"> </center><br>-->
<!--  <center><div><h1 style="color:white; background-color:add">PROGRAMMING LANGUAGE</h1></div></center>-->
<!--  <div class="jumbotron">-->
<!--    {% for lang in lang %}-->
<!--    <div>-->
<!--      <div class="card" style="border-bottom:10px solid black">-->
<!--        <div style="background-color:#add"><h1 style="color:#add; background-color:blue">-->
<!--        {{lang.language|upper|linebreaks}}</h1></div>-->
<!--    <img src=" {{lang.pix.url}}" height="300px" width="300px"><br>-->
<!--          <div class="post" style="justify-content:space-around; display:lex-around">-->
<!--           {{lang.description|linebreaks}}-->
<!--          </div>-->
<!--          <hr style="border:3px solid #add">-->
<!--      </div>-->
<!--      <br>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->