{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Modal Popup in HTML and CSS</title>
	<link rel="stylesheet" type="text/css" href="{% static 'modal_static/styles.css' %}">
</head>
<body>
<div class="wrapper" >
	<button class="cancel_btn" style="height:20px;background:none;color:green">Printing</button>

	<div class="modal_popup" style="width:20%;margin-left:-40px">
		<div class="bg_shadow"></div>
		<div class="popup" style="width:100wv;margin-left-200px">
			<div class="popup_head">
				About Printing Services?

				<button class="close_btn"></button>
			</div>
			<div class="popup_body">

				DESCRIPTION ABOUT THE SERVICE

			</div>
			<div class="popup_foot">
				<button class="popup_btn popup_cancel_btn">Cancel</button>
				<button class="popup_btn popup_confirm_btn">Confirm</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var cancel_btn = document.querySelector(".cancel_btn");
	var modal_popup = document.querySelector(".modal_popup");

	var close_btn = document.querySelector(".close_btn");
	var popup_cancel_btn = document.querySelector(".popup_cancel_btn");
	

	cancel_btn.addEventListener("click", function(){
		modal_popup.classList.add("active");
	})

	close_btn.addEventListener("click", function(){
		modal_popup.classList.remove("active");
	})
	popup_cancel_btn.addEventListener("click", function(){
		modal_popup.classList.remove("active");
	})
</script>

</body>
</html>