{% extends 'printingheader.html' %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="jumbotron" style="margin:20%">
        <center> <div >
          <div >
      <h3 >Your application has been received successfully</h3>
        <h5>We will get back to you as soon as possible</h5>
    </div>
             <a href="{% url 'wholphinplus:order' %}">Back</a> || <a href="{% url 'wholphinplus:products' %}">Back to Products</a>
            </div>
        </center>
        </div>
</div>
{% endblock %}
</body>
</html>